body {
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 350px;
}

.head .logo {
    margin: 40px auto;
    width: 230px;
}

.container {
    font-family: "Poppins", sans-serif;
    min-width: 320px;
    max-width: 1250px;
    display: flex;
    gap: 50px;
    margin: 20px auto;
}

.container .main-pic {
    width: 120vw;
}

.container .info {
    color: #fff;
    margin-top: 40px;
}

.container .info h2 {
    font-weight: 600;
    font-size: 32px;
}

.container .info p {
    font-weight: 300;
    font-size: 14px;
    padding: 20px 0;
}

.container .info .btn {
    color: hsl(257, 40%, 49%);
    width: 160px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 0px 0px 25px -10px #000000;
    transition: 0.1s;
}

.container .info .btn:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}

.foot {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.foot .fa-facebook-f {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    transition: 0.1s;
}

.foot .fa-facebook-f:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

.foot .fa-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    transition: 0.1s;
}

.foot .fa-instagram:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

.foot .fa-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    transition: 0.1s;
}

.foot .fa-twitter:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}